In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
# import numpy as np

In [2]:
def load_data():
    train_df = pd.read_csv("data/train.csv")
    test_df = pd.read_csv("data/test.csv")
    return train_df, test_df

In [3]:
def clean_data(df):
    spend_cols = ["RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
    df["Spend"] = df[spend_cols].fillna(0).sum(axis=1) > 0
    df = df.dropna(subset=["Name"])
    df = df.drop(columns=spend_cols)
    df[["first_name", "last_name"]] = df["Name"].str.split(" ", expand=True)
    df = df.drop(columns=["Name"])
    return df

In [4]:
# freq_imputer = SimpleImputer(strategy="most_frequent")
# num_imputer = SimpleImputer(strategy="median")
# train_df[["HomePlanet", "Destination", "VIP", "CryoSleep"]] = freq_imputer.fit_transform(train_df[["HomePlanet", "Destination", "VIP", "CryoSleep"]]) # freq
# train_df[["Age"]] = num_imputer.fit_transform(train_df[["Age"]]) # Numerical
# train_df["Cabin"] = train_df["Cabin"].fillna("X/0000/X")
# train_df.isnull().mean().sort_values(ascending=False)
# train_df

In [5]:
def fill_missing_values(df):
    freq_imputer = SimpleImputer(strategy="most_frequent")
    num_imputer = SimpleImputer(strategy="median")
    df[["HomePlanet", "Destination", "VIP", "CryoSleep"]] = freq_imputer.fit_transform(df[["HomePlanet", "Destination", "VIP", "CryoSleep"]]) # freq
    df[["Age"]] = num_imputer.fit_transform(df[["Age"]]) # Numerical
    df["Cabin"] = df["Cabin"].fillna("X/0000/X")
    df[["Deck", "CabinNum", "Side"]] = df["Cabin"].str.split("/", expand=True)
    df = df.drop(columns="Cabin")
    return df

In [6]:
train, test = load_data()
train, test = clean_data(train), clean_data(test)
train, test = fill_missing_values(train), fill_missing_values(test)

In [7]:
bins = [0, 12, 17, 30, 50, 80]
labels = ["child", "teen", "young_adult", "adult", "senior"]
train["age_group"] = pd.cut(train["Age"], bins=bins, labels=labels)
train.sample(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Spend,first_name,last_name,Deck,CabinNum,Side,age_group
2139,2296_01,Earth,True,TRAPPIST-1e,22.0,False,True,False,Kencey,Patteraley,G,369,P,young_adult
7167,7647_01,Earth,False,TRAPPIST-1e,24.0,False,False,True,Eulah,Lopelases,G,1240,S,young_adult
7550,8071_01,Earth,False,TRAPPIST-1e,53.0,False,True,True,Olly,Klindsey,F,1546,S,senior
7909,8451_02,Mars,True,TRAPPIST-1e,27.0,False,True,False,Grog,Start,F,1625,S,young_adult
7863,8386_01,Earth,False,55 Cancri e,27.0,False,False,True,Ferry,Chavezalez,G,1369,P,young_adult